.game {
    width:800px;
    margin: 0 auto;
    font-size:20px;
}

.game-boards {
    display:flex;
}

.board {
    display:flex;
    margin:20px;
}

.column__coordinates {
    margin-top: 30px;
}

.coordinate__column-item {
    text-align: center;
    width:30px;
    height:30px; 
}

.coordinate__row-item {
    display:inline-block;
    width:30px;
    height:30px; 
}

.square {
    display:inline-block;
    width:30px;
    height:30px;
    border-radius: 0;
    margin:0;
    border-width:0;
}

.submit_button {
    display:block;
    background-color: darkcyan;
    width: 200px;
    height: 39px;
    cursor: pointer;
    font-size:15px;
    line-height: 39px; 
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 2.5px;
}