.game {
    box-sizing: border-box;
    width:800px;
    margin: 0 auto;
    font-size:20px;
}

.game-boards {
    display:flex;
}

.board {
    display:flex;
    margin:20px;
}

.column__coordinates {
    margin-top: 36px;
}

.coordinate__column-item {
    text-align: center;
    width:30px;
    height:32px; 
}

.coordinate__row-item {
    text-align: center;
    display:inline-block;
    width:32px;
    height:30px; 
}

.squares {
    border:1px solid darkcyan;
    text-align: center;
    font-size:28px;
}

.board-row {
    margin:0;
    padding:0;
    height:32px;
}

.square {
    display:inline-block;
    vertical-align: top;
    width:30px;
    height:30px;
    max-height: 30px;
    margin:0;
    /*border-width:.2px;*/
    border: .1px solid rgb(50, 190, 183);
}

.square:hover{
    cursor: pointer;
}

.submit_button {
    display:block;
    background-color: darkcyan;
    width: 200px;
    height: 39px;
    cursor: pointer;
    font-size:15px;
    line-height: 39px; 
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 2.5px;
}

.red_cross {
    color: red;
}
.dot {
    color: blue;
    font-weight:bold;
}